@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.capitalize {
  text-transform: capitalize;
}

.markdown {
  & a {
    color: unset;
  }

  & img {
    max-width: 100%;
  }

  & code {
    opacity: 0.7;
  }
}
