@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.capitalize {
  text-transform: capitalize;
}

.markdown {
  & a {
    color: unset;
  }

  & img {
    max-width: 100%;
  }

  & code {
    opacity: 0.7;
  }
}

.flexContainer {
  display: flex;
}

.flexContainerWrap {
  display: flex;
  flex-wrap: wrap;
}

.flex {
  flex: 1;
}

.align span {
  vertical-align: bottom;
}

.portrait {
  max-width: 100%;
  display: block;
  margin: auto;
}