{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": "> 1%",
        "uglify": true
      },
      "useBuiltIns": true
    }],
    "flow",
    "react"
  ],

  "plugins": [
    "react-hot-loader/babel",
    "syntax-dynamic-import",
    "syntax-flow",
    "transform-react-jsx-source",
    "transform-object-rest-spread",
    ["transform-class-properties", { "spec": true }]
  ],

  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
