<div id="root"></div>
<noscript style="font-family: 'Roboto', 'Helvetica', 'Arial', 'sans-serif'; color: rgba(0,0,0,0.87)">
  <p>
    Lot-Casting Atemi is built using React.js and so requires JavaScript to function.
  </p>
</noscript>
